*:not(input) {
    box-sizing: border-box;
    text-align: center;
    outline: none;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    position: absolute;
    color: #111;
    background: url('images/book_bg2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
    background-size: cover;
}
.bookDescription {
  overflow: hidden;
  height: 80%;
  padding: 0 10px;
}
span.readMore {
  font-weight: bold;
  cursor: pointer;
}

h1,
h2,
h3,
h4 {
    font-family: sans-serif;

}

#shakeMe {
    background-color: #474e4c;
    padding: 30px;
}
header > h1 {
  font-family: 'Raleway',sans-serif;
  background-color: red;
  font-size: 4em;
  color: #222;
  padding: 60px 0;
  margin: 60px 0;
  background-color: rgba(200,200,200, 0.54);
}

aside {
    background-color: #ddd;
    border: 2px solid #747474;
    border-radius: 4px;
    position: fixed;
    display: inline-block;
    padding: 20px;
}

.left {
    left: 10px;
    top: 220px;
}

.right {
    right: 10px;
    top: 220px;
}

main {
    width: 100%;
    position: relative;
    margin: 0 auto;
    padding-top: 15px;
    background-color: rgba(218, 194, 146, 0.85);
}

main button {
    font-size: 1.2rem;
}

nav {
    background-color: #b9936c;
    padding: 10px;
}
.libraryWrapper {
  width: 70%;
  margin: 0 auto;
  padding-bottom: 100px;
}

/* Footer stuff */
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 50px;
  background-color: #e6e2d3;
}
footer p {
  padding: 0;
  margin: 0;
}
footer .nyhetsBrev {
  border-top: 1px solid #111;
  padding: 10px;
}
footer .nyhetsBrev > div {
  display: flex;
  padding-top: 5px;
}
footer .nyhetsBrev button {
  border: none;
  display: block;
  position: relative;
  padding: 0px 15px;
  margin: 10px 0px;
  line-height: 30px;
}
footer .nyhetsBrev button:hover {
  border: none;
  background-color: #9e9e9e;
}

/* End of footer stuff */
#bookApi {
    margin-top: 40px;
}

#bookApiBtn {
    display: inline-block;
}

#bookApiBtn:hover {
    background-color: #969696;
}

#bookApiInput {
    width: 200px;
    display: inline-block;
    background-color: #ae9090;
}

input {
    display: block;
    border: none;
    outline: none;
    position: relative;
    margin: 10px;
    background-color: #ddd;
    border-radius: 4px;
    line-height: 30px;
    color: #111;
    padding: 5px 10px 6px;
}

input:focus {
    outline: none;
    border: none;
}

#apiInputKey {
    text-align: right;
}

.left input {
    text-align: left;
}

#saveCurrent {
    position: relative;
    display: inline-block;
    float: right;
}

#returnKey {
    position: relative;
    display: inline-block;
    float: right;
}

.addFromLibrary {
    display: inline-block;
    position: absolute;
    right: 5px;
    padding: 0;
    border: 2px solid transparent;
    border-radius: 50px;
}

/* Book Log Design */

#topBookLog {
    background-color: #AAAAAA;
    display: block;
    position: relative;
    font-family: monospace;
    text-transform: uppercase;
    font-size: 1.3rem;
    border-radius: 10px;
}

#docLog {
    padding-left: 0;

}

#docLog span {
    width: 32.9%;
    margin: auto 0;
    vertical-align: baseline;
}

#docLog li:nth-child(even) {
    background-color: #DDDDDD;
}

#docLog li {
    list-style: none;
    padding: 4px;
    padding-right: 40px;
    font-size: 0.8rem;
    text-align: left;
    display: block;
}

#docLog li:first-child {
    font-size: 1.7rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #2f484b;
    font-family: sans-serif;
}


#topBookLog span {
    display: inline-block;
    position: relative;
    padding: 10px 0px;
    text-transform: none;
    font-family: sans-serif;
    vertical-align: middle;
}

/* Library design */

#library {
    margin: 15px auto;
    padding: 0px;
    position: relative;
    background-color: #d2d1d1;
    box-shadow: 2px 2px 6px #222;
    border-radius: 5px;
}

#library > span {
    display: inline-flex;
    padding: 10px 0px;
    margin: 10px;
}q

#library > div > .spanID {
    flex: 0 0 5%;
}

#library > div > span {
    font-family: sans-serif;
    display: inline-block;
    flex: 3 1 30%;
    padding: 10px 5px;
}

#library > div {
    display: flex;
    position: relative flex: 2 2 auto;
    padding: 20px;
    margin: 0px;
}

#library > div > .expandedObject {
  display: flex;
  justify-content: space-between;
  /*height: 200px;*/
  width: 100%;
  height: 200px;
}

#library > div > .expandedObject > div {
  display: flex;
  flex: 1 1 auto;
}
/* Try to make the dividers line up!!! */
#library > div > .expandedObject > div:not(:first-child){
  flex-direction: column;
  justify-content: flex-start;
  flex: 100 100 50px;
}
#library > div > .expandedObject > div:not(:last-child){
  flex: 100 100 50px;
}
.removeBook {
  display: inline;
}
/* Image on expandedObject */
#library > div > .expandedObject > div > img {
  max-height: 200px;
  background-color: #b9936c;
  height: auto;
  padding: 5px;
  box-shadow: 1px 1px 4px #222;
}
#library > div > .expandedObject > div > p {
  padding: 5px;
  margin: 12px 5px 10px 5px;
}
#library > div > .expandedObject > div h3 {
  text-align: left;
  font-family: 'Lora', serif;
  padding: 5px 10px;
  font-weight: normal;
  margin: 0;
}
#library > div > .expandedObject > div h3:first-child {
  margin-top: 11px;
}

#library > div > .expandedObject > div button {
  border: none;
  background-color: #555;
  padding: 7px 10px;
  margin: 10px 3px;
}
#library > div > .expandedObject > div button.trashcan:hover {
  background-color: #f16060;
}
/*#library > div > .expandedObject > div button:not(.trashcan):hover {
  background-color: #e4cf80;
}*/

#library > div > .expandedObject > div:last-child {
  justify-content: space-between;
}

#library > div > .expandedObject > div:last-child > div:last-child {
  align-self: flex-end;
}

#library > div p {
    padding: 0px;
    margin: 0px;
}


#library > div:nth-child(1) {
    color: #fff;
    font-size: 1.2em;
    border-bottom: 2px solid #444;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

#library > div:nth-child(odd) {
    background-color: #aaa;
    color: #111;
}

#library > div:nth-child(even) {
    background-color: #ddd;
    color: #333;
}

#library > #header {
  position: relative;
  background-color: #e6e2d3;
}


#keyBtn {
  border: none;
  background-color: inherit;
}
#library > div > hr {
    margin: 0 25px;
}

#library > div > button {
    font-size: 1em;
    border-radius: 5px;
    border: none;
    margin: 0px 9px;
    flex: 100 100 5%;
    background-color: #444;
    color: #fff;
    padding: 10px;
    min-width: 50px;
    max-height: 40px;
}

#library > div > button:hover {
    background-color: #f16060;
}

#library > div > button:hover.hoverGold {
    background-color: #faffdb;
    color: #222;
}
#library > div button:hover.hoverGold {
    background-color: #faffdb;
    color: #222;
}

#library > div button:hover.hoverRed {
    background-color: #f16060;
    color: #222;
}

#library > div > button:hover.hoverGrey {
    background-color: #faffdb;
    color: #222;
}

#library > div > .libraryAddBtn {
    font-size: 1em;
    vertical-align: middle;
    border-radius: 7px;
    border: none;
    margin: 0 5px;
    padding: 0px;
    background-color: inherit;
    color: #b9936c;
    display: inline-block;
}

#library > div > .libraryAddBtn:hover {
    background-color: inherit;
    color: #dac292;
}
#library > div > button.libraryRemoveBtn:nth-child(7) {
  margin-left: 2.5%;
}
#library > div > button.libraryRemoveBtn:nth-child(9) {
  margin-right: 2.5%;
}

/* Stats Modal */

.statsModal {
    position: absolute;
    box-shadow: 2px 2px 4px #222;
    margin: -100px 0px;
    padding: 15px 25px;
    width: 70%;
    left: 15%;
    height: 400px;
    background-color: #ddd;
    display: none;
}

.statsModal h1 {
    color: #111;
    margin: 0 0 0 20px;
    padding: 0;
}

/* USer panel modal */

.userPanel {
    display: none;
    position: relative;
    background-color: #ccc;
    width: 50%;
    margin: 10px auto;
    border-radius: 5px;
    color: #111;
    font-size: 1em;
    padding: 5px 5px 20px;
}

.userPanelBtnActive {
    background-color: #999;
}

.lockBtn {
    position: absolute;
    color: #faffdb;
    background-color: #444;
    text-align: center;
    font-size: 0.8em;
    border-radius: 5px;
    border: none;
    margin-left: 4px;
    margin-top: -5px;
    padding: 6px 11px 6px 10px;
}

.unlockBtn {
    position: absolute;
    text-align: center;
    background-color: #444;
    font-size: 0.8em;
    border: none;
    margin-top: -5px;
    margin-left: 4px;
    padding: 6px 9px 6px 10px;
}

.inputPassword {
    display: inline-block;
    padding: 10px 34px 10px 12px;
    width: 50%;
    margin: -10px auto;
    line-height: 0px;
}

/* inputSucces, inputError & Hover text */

.inputError,
.inputSuccess, .inputInfo, .inputNoColor {
    position: relative;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: 1px solid #bbb;
    margin: -10px 0 -10px -33px;
    display: inline-block;
    color: #ddd;
    z-index: 1;
}

.inputError .hoverText, .inputSuccess .hoverText, .inputInfo .hoverText, .inputNoColor .hoverText {
    visibility: hidden;
    width: 128px;
    top: 0px;
    margin-left: 4px;
    left: 105%;
    line-height: normal;
    text-align: center;
    padding: 0px 5px;
    border-radius: 5px;
    position: absolute;
    z-index: 9999;
}
.hoverText > p {
  padding: 8px 2px;
  margin: 0px;
}

/* Colors! */

.inputError {
    background-color: #d55c5c;
    padding: 8px 10px 9px;
}

.inputSuccess {
    padding: 8px 8.4px 9px;
    background-color: #599965;
}
.inputInfo {
    padding: 8px 8.4px 9px;
    background-color: #559bba;
}
.inputNoColor {
    padding: 8px 8.4px 9px;
}


.inputError .hoverText {
    background-color: #222;
    color: #fff;
}

.inputSuccess .hoverText {
    background-color: #222;
    color: #fff;
}
.inputInfo .hoverText {
    background-color: #222;
    color: #fff;
}
.inputNoColor .hoverText {
    background-color: #222;
    color: #fff;
}


.inputError:hover .hoverText, .inputSuccess:hover .hoverText, .inputInfo:hover .hoverText, .inputNoColor:hover .hoverText {
    visibility: visible;
}

#library > div:nth-child(odd) .inputPassword {
    background-color: #ddd;
}

#library > div:nth-child(even) .inputPassword {
    background-color: #ccc;
}

/* Close Button */
.userPanel .close {
    margin: 5px;
    right: 7px;
    top: 15px;
    position: absolute;
    line-height: 0px
}

.userPanel .userModal .close {
    margin: 2px;
    right: 5px;
    top: 14px;
    position: absolute;
    line-height: 0px
}

.userPanel > div > div {
    display: inline-block;
}

.userPanel .userModal {
    position: relative;
    display: none;
    border-radius: 5px;
    width: 50%;
    margin: 15px auto 0px;
    padding: 15px;
    background-color: #222;
    color: #fff;
}

.userPanel .userModal > input {
    display: inline-block;
}

/* MessageDiv */

.messageDiv {
    display: inline-block;
    background-color: #ddd;
    padding: 7px 8px 10px 0;
    border-radius: 5px;
    margin: 5px;
    display: none;
}

.messageDiv > span + span {
    color: #da5951;
    font-size: 1.8em;
    cursor: pointer;
    padding: 0px;
    line-height: 0px;
    margin-left: 4px;
    vertical-align: -4.8px;
}

.apiKeyDisplay {
    display: inline-block;
    background-color: #ddd;
    padding: 7px 10px 10px 10px;
    border-radius: 5px;
    margin: 5px;
}

.successMsg::before {
    content: 'Success';
    border-right: 1px solid #aaa;
    color: #111;
    font-size: 0.8em;
    max-height: 90%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 10.2px 15px 11px 15px;
    margin-right: 5px;
    background-color: #6ab16a;
}

.errorMsg::before {
    content: 'Error';
    font-size: 0.8em;
    border-right: 1px solid #aaa;
    color: #111;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 10.2px 15px 11px 15px;
    margin-right: 5px;
    background-color: #da5951;
}

.warningMsg::before {
    content: 'Warning';
    font-size: 0.8em;
    border-right: 1px solid #aaa;
    color: #111;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 10.2px 15px 11px 15px;
    margin-right: 5px;
    background-color: #d16400;
}

.commonMsg::before {
    content: 'General';
    font-size: 0.8em;
    border-right: 1px solid #aaa;
    color: #111;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 10px 15px 10px 15px;
    margin-right: 5px;
    background-color: #8fd0be;
}
.msgContainer {
  font-family: sans-serif;
  display: flex;
  align-self: center;
  justify-content: flex-start;
  width: 80%;
  height: 50px;
}

/* Settings and login Module */
#loginModalWrapper {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
}

#settingsModalWrapper {
  position: absolute;
  display: none;
  flex-direction: column;
  z-index: 100;
  left: 0;
  top: -188%;
  border-radius: 5px;
  width: 100%;
  background-color: #b1ad9e;
}
#settingsModalWrapper > div {
  display: flex;
  justify-content: space-around;
}

#settingsModalWrapper span.closeBtnSettings {
  /* Close Button */
  position: absolute;
  right: 0;
  padding: 0px;
  margin: 10px 15px;
  display: inline-block;
  color: #ddd;
  z-index: 1000;
}
#settingsModalWrapper span.closeBtnSettings:hover {
  color: #b44345;
}

#settingsModalWrapper > div .inputWithButton {
  display: flex;
  justify-content: space-between;
  margin: 0px;
}

#settingsModalWrapper > div .inputWithButton span {
  color: #111;
  font-family: sans-serif;
  font-weight: 500;
  font-size: 0.7em;
  background-color: #dac292;
  border-radius: 5px;
  padding: 14px 10px;
  margin: 5px 5px;
}

input[type="checkbox"] {
  position: absolute;
  left: 60px;
  top: 60px;
  display: none;
  visibility: hidden;
}

input[type="checkbox"] + label {
  cursor: pointer;
  background-color: #ff5757;
  color: #fff;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 10px 5px;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none;
}

input[type="checkbox"]:checked + label {
  background-color: #90ff8e;
  padding: 5px 7.6px;
}

#settingsModalWrapper > div .inputWithButton > button, #settingsModalWrapper > div .inputWithButton > input{
  display: inline-block;
}

#settingsModalWrapper > div .inputWithButton > button {
  border: none;
  font-size: 0.8em;
  padding: 6px 15px;
  margin: 10px 5px;
  vertical-align: -1px
}

.contentWrapperSettings {
  display: flex;
  background-color: #444;
  color: #fff;
  margin: 20px;
  padding: 5px 30px;
  justify-content: space-between;
}
.loginModal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  padding: 0px;
  margin: 10% 0px 0px;
  top: 20%;
  left: calc(50% - 100px);
  color: #222;
}
.loginModal > #loginDiv > span.closeBtnLogin {
  /* Close Button */
  position: absolute;
  right: 0;
  padding: 0px;
  margin: 6px;
  display: inline-block;
  color: #ddd;
  z-index: 1000;
}
.loginModal > #loginDiv > span.closeBtnArrow {
  margin: 8px;
}
.loginModal > #loginDiv > span.closeBtnArrow:hover {
  color: #f49e74;
}

.loginModal > #loginDiv > span:hover {
  /* Close Button Hover*/
  color: #b44345;
}

.loginModal > #loginDiv input.smallerBecauseInfo {
  /* Close Button */
  display: inline-block;
  padding: 10px;
  margin: 5px 25px 5px 25px;
  line-height: 0px;
}

.loginModal > #loginDiv .inputInfo {
  /* Close Button */
  display: inline-block;
  margin: -10px 25px -10px -59px;
  padding: 8px 10px 9.4px;
  left: 2px;
}
.loginModal > #loginDiv .inputNoColor {
  /* Close Button */
  display: inline-block;
  margin: -10px 25px -10px -59px;
  padding: 8px 10px 9.4px;
  left: 2px;
}

.loginModal > div {
  display: flex;
  background-color: #6e6e6e;
  color: #222;
}
.loginModal h2 {
  font-family: 'Raleway', sans-serif;
  margin: 25px 20px;
  text-shadow: 2px 2px 15px #d4db96;
}
.line {
  border-bottom: 1px solid #fff;
  width: 30%;
}
#loginDiv {
  position: relative;
  box-shadow: 4px 4px 10px #222;
  border-radius: 6px;
  background-color: #b9936c;
  display: flex;
  flex-direction: column;
}
#loginDiv > input {
  padding: 10px;
  margin: 5px 25px;
  line-height: 0px;
}
#loginDiv > input:first-child {
  margin-top: 40px;
}

#loginDiv > button {
  display: inline-block;
  margin: 10px 25px;
  padding: 10px 20px;
  border: none;
  outline: none;
}
#loginDiv > button:last-child {
  margin-bottom: 25px;
}
#loginDiv > button:focus {
  border: none;
  outline: none;
}
#loginDiv > button:hover {
  border: none;
  outline: none;
  background-color: #e9cf9a;
}
#loginDiv > div > p {
  font-family: 'dosis', sans-serif;
  font-weight: 700;
  padding: 0 10px;
  margin: -5px 0px 0px;
  font-size: 1.2em;
  color: #fff;
}



/* Api stuff */

#requestAPI {
    font-size: 1.5rem;
    font-family: monospace;
    text-transform: uppercase;
    font-weight: 700;
    padding: 10px 40px;
    display: inline-block;
    position: relative;
    margin-right: 40px;
}

#requestAPI:hover {
    background-color: crimson;
}

#apiInputKey {
    position: relative;
    display: inline-block;
}

button {
    padding: 10px 20px;
    border: 1px solid #333;
    border-radius: 4px;
    background-color: lightgray;
    transition: 0.3s;
    color: #111;
}

button:hover {
    background-color: #444;
    transition: 0.3s;
    color: #313232;
    border-radius: 6px;
    cursor: pointer;
    background-color: #ae9090;
}

.right > button:nth-child(2n) {
    margin-top: 20px;
}

.vibe {
    animation: vibe 1s linear 0.2s;
}

@keyframes vibe {
    0% {}
    2% {
        transform: translateX(5px) rotateZ(1deg);
    }
    4% {
        transform: translateX(-5px) rotateZ(-1deg);
    }
    6% {
        transform: translateX(3px) rotateZ(2deg);
    }
    8% {
        transform: translateX(-2px) rotateZ(-2deg);
    }
    10% {
        transform: translateX(1px) rotateZ(2deg);
    }
    12% {
        transform: translateX(-5px) rotateZ(-2deg);
    }
    14% {
        transform: translateX(3px) rotateZ(-1deg);
    }
    16% {
        transform: translateX(-5px) rotateZ(-2deg);
    }
    18% {
        transform: translateX(5px) rotateZ(2deg);
    }
    20 {
        transform: translateX(-5px) rotateZ(-2deg);
    }
    22% {
        transform: translateX(5px) rotateZ(2deg);
    }
    24% {
        transform: translateX(-3px) rotateZ(-2deg);
    }
    26% {
        transform: translateX(0px) rotateZ(0deg);
    }
    100% {}
}



#apiKEY {
    display: inline-block;
    font-size: 1em;
    font-family: monospace;
}

#currentSavedKey {
    position: absolute;
    display: inline-block;
    background-color: #f8d4ff;
    font-size: 1rem;
    font-family: monospace;
    top: 0px;
    right: 10px;
}

#addBookModal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 5px;
    display: inline-block;
    /* Could be more or less, depending on screen size */
}

.inputBook {
    margin: 27px auto;
    text-align: left;
}

.inputBook:focus {
    background-color: lightgrey;
}

.close {
    color: #aaa;
    float: right;
    font-size: 40px;
    font-weight: bold;
    padding-left: 10px;
}

.close:hover,
.close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}

/* BUTTON ANIMATION */

.animateBtn {
    outline: none;
    height: 40px;
    text-align: center;
    width: 40px;
    background-color: transparent;
    color: #555555;
    cursor: pointer;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    border: 2px solid transparent;
    border-radius: 50px;
}

.animateBtn:hover {
    color: #1ECD97;
    background-color: transparent;
}

.animateBtn:active {
    letter-spacing: 2px;
}

.animateBtn::before {
    font-family: 'FontAwesome';
    content: "\f196";
    font-size: 2.5em;
}

.onclic {
    border: 2px solid #1ECD97;
    border-radius: 50px;
    border-color: #bbbbbb;
    border-width: 3px;
    font-size: 0;
    border-left-color: #1ECD97;
    -webkit-animation: rotating 2s 0.25s linear infinite;
    animation: rotating 2s 0.25s linear infinite;
}




@-webkit-keyframes rotating {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotating {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.afterClick {
    font-size: 13px;
    color: white;
    background: #1ECD97;
    border: none;
    border-radius: none;
    color: #1ECD97;
    outline: none;
    border: none;
    background-color: inherit;
    display: inline-block;
    position: absolute;
    right: 5px;
    padding: 0;
}

.afterClick:after {
    font-family: 'FontAwesome';
    content: "\f00c";
    font-size: 2.5em;
}

.afterClick:hover {
    background-color: transparent;
    color: #1ECD97;
}

.newIn {
    transform: 1s ease;
    transition: 1s ease;
    background: -moz-linear-gradient(top, rgba(97, 232, 133, 0.85) 0%, rgba(97, 232, 133, 0.95) 50%, rgba(97, 232, 133, 0.85) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(97, 232, 133, 0.85) 0%, rgba(97, 232, 133, 0.95) 50%, rgba(97, 232, 133, 0.85) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(97, 232, 133, 0.85) 0%, rgba(97, 232, 133, 0.95) 50%, rgba(97, 232, 133, 0.85) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d961e885', endColorstr='#d961e885', GradientType=0);
    /* IE6-9 */
    z-index: 10;
}
