* {
    box-sizing: border-box;
    text-align: center;
}


section {
    display: block;
    padding: 30px;
    margin: 10px 100px;
}

h1,
h2,
h3,
h4 {
    font-family: monospace;

}

aside {
    background-color: #ddd;
    border: 2px solid #747474;
    border-radius: 4px;
    position: fixed;
    display: inline-block;
    padding: 20px;
}

.left {
    left: 10px;
}

.right {
    right: 10px;
}

main button {
    font-size: 1.2rem;
}

input {
    display: block;
    position: relative;
    margin: 10px;
    border-radius: 2px;
    line-height: 30px;
    color: #111;
    text-align: right;
    padding: 0 5px;
}

.left input {
    text-align: left;
}
/* Library design */
#library {
    display: flex;
    width: 50%;
    flex-direction: column;
    margin: 15px auto;
    padding: 0px;
    position: relative;
    background-color: #d2d1d1;
    box-shadow: 2px 2px 6px #222;
}

#library > span {
  display: inline-flex;
  padding: 10px 0px;
  margin: 10px;
}

#library > div > .spanID {
  flex: 0 0 5%;
}

#library > div {
  display: flex;
  flex: 2 2 auto;
  padding: 20px;
  margin: 0px;
}
#library > div:nth-child(1){
    background-color: #333;
    color: #fff;
    font-size: 1.2em;
    border-bottom: 3px solid #777;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
#library > div:nth-child(odd){
    background-color: #aaa;
    color: #111;
}
#library > div:nth-child(even){
    background-color: #ddd;
    color: #333;
}
#library > div > span {
  font-family: sans-serif;
  display: inline-block;
  flex: 0 0 30%;
  padding: 10px 5px;
}
#library > div > hr {
  margin: 0 25px;
}

#library > div > button {
  font-size: 1em;
  border-radius: 5px;
  border: none;
  margin: 0px 9px;
  flex: 0 0 5%;
  background-color: #555;
  color: #fff;
}
#library > div > button:hover {
  background-color: #f14848;
}
#library > div > button:last-child:hover:not(.libraryAddBtn) {
  background-color: #cfc72b;
}
#library > div > .libraryAddBtn {
  font-size: 1em;
  border-radius: 7px;
  flex: 0 0 5%;
  border: none;
  margin: 0 5px;
  padding: 0px;
  border: 1px solid #adadad;
  background-color: inherit;
  color: #666;
}
#library > div > .libraryAddBtn:hover {
  background-color: inherit;
  color: #ddd;
}

#requestAPI {
    font-size: 2rem;
    font-family: monospace;
    text-transform: uppercase;
    font-weight: 700;
    padding: 10px 40px;
}

button {
    padding: 10px;
    border: 2px solid #333;
    border-radius: 4px;
    background-color: lightgray;
    transition: 0.3s;
    color: #111;
}

button:hover {
    background-color: #444;
    transition: 0.3s;
    color: lightgray;
    border-radius: 6px;
    cursor: pointer;
}

.right > button:nth-child(2n) {
    margin-top: 20px;
}

#apiKEY {
    margin-top: 10px;
    position: relative;
    display: inline-block;
    background-color: #f8d4ff;
    font-size: 2rem;
    font-family: monospace;
}
